<%if @resturant%>
      <div class='col-md-3'>
            <div class="card card-margin" style="width: 25rem;">
                  <% if @resturant.image!=nil%>
                        <%=image_tag @resturant.image, class:"card-img-top",height:"250px" if @resturant.image.attached? %>
                  <%end%>
                  <div class="card-body">
                        <h3 class="card-title"> <%=@resturant.name%><h3>
                  </div>
            </div>
      </div>
<%end%>
