// Place all the styles related to the ItemController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.border {
  padding: 1rem
}

html {
  overflow-x: hidden;
}

.forget-link {
  // margin-left: 1rem;
  padding: 1rem;
}

.row {
  margin-left: 1rem !important;
}

.error-image {
  width: 100%
}

#category-list {
  margin-bottom: 0.75rem;
}

.custom-control {
  padding-left: 0rem;
}

.price {
  float: right;
  margin-right: 2rem;
}

.card-body {
  padding: 0.75rem !important;
}

.button-margin {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-margin {
  margin-bottom: 2rem;
}

.display-no-card {
  display: none;
}

.form-width {
  width: 500px
}

.btn-margin {
  margin-left: 1rem;
}

.link-color {
  color: red;
}

.button-margin-left {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.form-margin {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.card_last {
  margin-bottom: 20px;
}

.sub {
  vertical-align: middle;
  padding: 10px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  margin: 15px !important;
}

.sub h5 {
  margin-bottom: 0px !important;
}

.sub_p {
  margin-left: 20px;
  margin-bottom: 0px !important;
}

.card_last .card-body span {
  margin-left: 50% !important;
}

.upr_row {
  margin-bottom: 15px;
}

.chng_btn {
  margin-left: 30% !important;
  float: right;
  margin-right: 40px;
}

.table_order {
  width: 100%;
  padding: 20px;
}

.table_order td {
  border: 1px solid #a8a8a8;
  padding: 5px 10px;
}

.table_order tr th {
  border: 1px solid #a8a8a8;
  background-color: #dddddd;
  padding: 5px 10px;
}

.order_table {
  padding: 20px;
}

.order_table tr th {
  border: 1px solid #a8a8a8;
  background-color: #dddddd;
  padding: 5px 10px;
}

.order_table td {
  border: 1px solid #a8a8a8;
  padding: 5px 10px;

}

.order_table .order_table_update {
  text-align: right !important;
}

.order_table table {
  width: 100%;
}

.order_table select {

  margin-right: 5px;
  padding: 7px 10px;
  border-radius: 5px;
}

.total_inner {
  margin-left: 90% !important;
}

.checkout_btn {
  margin-left: 45% !important;
  margin-top: 1%;
}

.cancel_btn {
  margin-top: 15% !important;
  padding: 15px 10px !important;
}

.confirm_btn {
  background-color: green;
  border-radius: 5px;
  padding: 15px 20px !important;
}

.confirm_btn a {
  color: #fff;
}

.checkout_btn a:hover {
  text-decoration: none !important;
}

.checkout_btn .cancel_btn a:hover {
  color: red;
}

.checkout_btn a {
  padding: 15px 40px !important;
}

.search_form {
  margin-left: 55%;
}

.nav-disable:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, .5) !important;
}

.order_img {
  width: 100px !important;
}

.set_button {
  margin-left: 63%;
  margin-top: -17%;
}

.danger-margin {
  margin-left: 90%;
  margin-bottom: 1%;
}
